# macOS

.DS_Store

# Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager

Packages/
Package.pins
Package.resolved
*.xcodeproj

.swiftpm

.build/

# Others

manis/Resources/config.yaml
manis/Resources/Country.mmdb
manis/Resources/Country.mmdb.lzfse
manis/Resources/geosite.dat
manis/Resources/geosite.dat.lzfse
manis/Resources/Kernel/*
!manis/Resources/Kernel/toolchain/
!manis/Resources/Kernel/toolchain/**
manis/Resources/Kernel/toolchain/build/
manis/Resources/Kernel/toolchain/build/**
manis/Resources/Kernel/toolchain/source/
manis/Resources/Kernel/toolchain/source/**
